<div class="fixed inset-0 -z-[2] overflow-hidden pointer-events-none" aria-hidden="true">
  <div
    class="bg-blob absolute w-[46vw] h-[46vw] -top-[12vw] -right-[8vw] bg-[radial-gradient(circle,oklch(0.7_0.18_var(--accent-h)/0.55),transparent_70%)]"
  >
  </div>
  <div
    class="bg-blob absolute w-[40vw] h-[40vw] -bottom-[14vw] -left-[10vw] bg-[radial-gradient(circle,oklch(0.7_0.16_calc(var(--accent-h)-50)/0.4),transparent_70%)]"
  >
  </div>
  <div
    class="bg-blob absolute w-[30vw] h-[30vw] top-[40%] left-[55%] bg-[radial-gradient(circle,oklch(0.72_0.15_calc(var(--accent-h)+40)/0.3),transparent_70%)]"
  >
  </div>
</div>
