---
const text = "⚡️ I'm currently working on this website";
---
<section class="h-dvh flex flex-col justify-center items-center gap-4">
    <h1 id="waitingText" class="text-2xl text-center">{text}</h1>
</section>

<script>
    let waitingText = document.getElementById("waitingText");
    let dotsCount = 0;

    if (waitingText != null) {
        setInterval(() => {
            dotsCount = (dotsCount + 1) % 4;
            waitingText.textContent = "⚡️ I'm currently working on this website" + ".".repeat(dotsCount);
        }, 1000);
    }
</script>