---
import { EXPERIENCES } from '@/data/experiences';
import TimeLine from "@/components/Time-Line.astro";
---

<section aria-labelledby='experience-heading'>
  <h2 class='sr-only' id='experience-heading'>Experiencia</h2>
  <TimeLine entries={EXPERIENCES} />
</section>
