---
import Card from '@/components/Card.astro'
import ClaraRomero from '@/images/clararomero.webp';
import WordPressIcon from '@/components/icons/WordPress.astro';
import MySQLIcon from '@/components/icons/MySQL.astro';

const PROJECTS = [
  {
    title: 'Clara Romero',
    description: 'Web corporativa sobre una peluquería local.',
    imageCard: ClaraRomero,
    utils: [
      {
        name: 'WordPress',
        Icon: WordPressIcon
      },
      {
        name: 'MySQL',
        Icon: MySQLIcon
      }
    ],
    urlLive: 'http://clararomero.com',
  }
]
---
<section class='flex flex-col gap-8'>
  {PROJECTS.map(project => <Card data={{ ...project }} />)}
</section>