---
import { PROJECTS } from '@/data/projects';
import Card from "@/components/Card.astro";
---

<section aria-labelledby='projects-heading' class="flex flex-col gap-8">
  <h2 class='sr-only' id='projects-heading'>Proyectos</h2>
  {PROJECTS.map((project) => <Card project={project} />)}
</section>
