.bg-react {
    background-color: #61DAFB;
}

.bg-react-redux {
    background-color: #764ABC;
}

.bg-react-jest {
    background-color: #C21325;
}

.bg-git {
    background-color: #F05032;
}

.bg-jenkins {
    background-color: #D24939;
}

.bg-jira {
    background-color: #0052CC;
}

.bg-javascript {
    background-color: #F7DF1E;
}

.bg-typescript {
    background-color: #3178C6;
}

.bg-discord {
    background-color: #5865F2;
}

.bg-html5 {
    background-color: #E34F26;
}

.bg-css3 {
    background-color: #1572B6;
}

.bg-jquery {
    background-color: #0769AD;
}

.bg-sass {
    background-color: #CC6699;
}

.bg-php {
    background-color: #777BB4;
}

.bg-laravel {
    background-color: #FF2D20;
}

.bg-mysql {
    background-color: #4479A1;
}

.bg-aws-ec2 {
    background-color: #FF9900;
}

.bg-aws-rds {
    background-color: #527FFF;
}

.bg-bootstrap {
    background-color: #7952B3;
}

.bg-csharp {
    background-color: #A179DC;
}